<% layout('layout/boilerplate') %> 
<div class="row">
    <div class="col-6 w-100">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error <%= err.statusCode %> </h4>
            <p><%= err.message %> </p>
            <hr>
            <% if(process.env.NODE_ENV !== "production") { %> 
            <p class="mb-0"><%= err.stack %> </p>
            <% } %> 
        </div>
    </div>
</div>