body, .mapboxgl-popup-content {
    font-family: 'Quicksand', sans-serif;
}

.nav-logo {
    width: 30px;
}

.carousel-img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.index-img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.thumbnail-img {
    object-fit: cover;
    width: 100%;
    height: 70px;
}

.mapboxgl-popup-content > strong > a {
    text-decoration: none; 
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.card-title {
    font-size: 30px;
}

.btn-info {
    background-color: #0d47a1;
    border-color: #0d47a1;
    color: white;
}

.btn-info:hover {
    background-color: #1565c0;
    border-color: #1565c0;
    color: white;
}

#map {
    width: 100%; 
    height: 300px;
}

#clusterMap {
    width: 100%;
    height: 250px; 
    margin-bottom: 60px;
}